<div class="d-flex flex-column content" *ngIf="profile">
    <span>{{profile.username}}</span>
    <span>{{profile.firstName}}</span>
    <span>{{profile.lastName}}</span>
    <span>{{profile.biography}}</span>
    <span>{{profile.dateOfBirth}}</span>
    <span>{{profile.phone}}</span>
    <span>{{profile.email}}</span>
    <span>profile type: {{profile.profileType}}</span>
    <span>skills: {{profile.skills}}</span>
    <span>interests: {{profile.interests}}</span>
    <span>{{profile.education}}</span>
    <span>{{profile.experience}}</span>
</div>