@import 'src/styles/main.scss';

.content{
    margin-top: 70px;
}

    #result-card{
        margin-left: $grid-margin-width;
        margin-right: $grid-margin-width;
        margin-top: 30px;
        width: 100%;
        cursor: pointer;
    }