@import "src/styles/main.scss";

 ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex{
    border-radius: 4px !important;
}

::ng-deep .mat-form-field-underline{
    width: 0 !important;
}

.post-img{
    width: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.image-icon{
    @include icon;
    @include background-svg($image);
    margin-right: 5px;
}