<div>
    <app-spinner-fullscreen *ngIf="!profile"></app-spinner-fullscreen>
    <div *ngIf="profile">
        <div class="body-grey"></div>
        <div class="banner"></div>
        <div class="image-name-wrapper d-flex flex-column">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                    <div class="profile-img-wrapper">
                        <img [ngStyle]="{'visibility': !profileImageLoaded ? 'hidden' : 'visible'}" class="profile-img" [src]="newProfileImg==null ? profileImageUrl : newProfileImg">
                        <div *ngIf="isMyProfile">
                            <input style="display: none" type="file" (change)="onFileChanged($event)" #profileInputImage>
                            <button class="replace-img-button" (click)="profileInputImage.click()">
                                <svg class="replace-icon"></svg>
                            </button>
                        </div>
                    </div>
                    <h1>{{profile.firstName}} {{profile.lastName}}</h1>
                </div>
                <div *ngIf="isMyProfile && isAuthenticated()" (click)="openUpdateProfileDialog()" class="d-flex align-items-center justify-content-center round-circle">
                    <svg class="edit-icon"></svg>
                </div>
                <div *ngIf="!isMyProfile && isAuthenticated()" class="d-flex align-items-center">
                    <button (click)="toggleFollow()" [ngClass]="{'following-btn' : follows==true}" class="follow-btn d-flex align-items-center">
                        <svg *ngIf="follows" class="checkmark-icon"></svg>
                        <span *ngIf="follows">Following</span>
                        <span *ngIf="!follows">Follow</span>
                    </button>
                    <div class="d-flex align-items-center justify-content-center round-circle">
                        <svg class="chat-icon"></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper d-flex">
            <div class="d-flex dislinkt-container personal-info d-flex flex-column">
                <h5 class="lightpurple-text">Personal Info</h5>
                <span class="lightpurple-text container-label">Birthday</span>
                <span class="grey-text mb-2">{{profile.dateOfBirth | date: 'longDate'}}</span>
                <span class="lightpurple-text container-label">Bio</span>
                <span class="grey-text">{{profile.biography}}</span>
            </div>
            <div class="posts">
                <div *ngIf="isMyProfile" style="margin-bottom: 10px">
                    <post-upload></post-upload>
                </div>
                <div *ngIf="posts.length != 0">
                    <div class="post" *ngFor="let post of sortedPosts()">
                        <post-status [post]="post"></post-status>
                    </div>
                </div>
            </div>
            <div class="proffesional-info d-flex flex-column">
                <div class="d-flex flex-column dislinkt-container w-100 container-wrapper">
                    <svg *ngIf="isMyProfile" (click)="openUpdateSkillsDialog()" class="edit-grey-icon"></svg>
                    <div class="d-flex flex-column">
                        <h5 class="lightpurple-text">Skills</h5>
                        <div class="d-flex flex-column" *ngIf="profile.skills">
                            <span class="grey-text container-label" *ngFor="let skill of profile.skills">{{skill}}</span>
                        </div>
                        <div class="no-data" *ngIf="!profile.skills">
                            No skills records.
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column dislinkt-container w-100 container-wrapper">
                    <svg *ngIf="isMyProfile" (click)="openUpdateInterestsDialog()" class="edit-grey-icon"></svg>
                    <div class="d-flex flex-column">
                        <h5 class="lightpurple-text">Interests</h5>
                        <div class="d-flex flex-column" *ngIf="profile.interests">
                            <span class="grey-text container-label" *ngFor="let interest of profile.interests">{{interest}}</span>
                        </div>
                        <div class="no-data" *ngIf="!profile.interests">
                            No interest records.
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column dislinkt-container w-100 container-wrapper">
                    <svg *ngIf="isMyProfile" (click)="openUpdateExperienceDialog()" class="edit-grey-icon"></svg>
                    <div class="d-flex flex-column">
                        <h5 class="lightpurple-text">Experiences</h5>
                        <div *ngIf="profile.experience">
                            <div class="d-flex w-100 container-ex-ed" *ngFor="let experience of profile.experience">
                                <div class="d-flex flex-column align-items-center justify-content-center mt-2 me-3">
                                    <div class="dot"></div>
                                    <div class="h-100 line"></div>
                                </div>
                                <div class="d-flex flex-column w-100">
                                    <div class="d-flex flex-column grey-text" >
                                        <span class="container-label">{{experience.title}}</span>
                                        <span class="container-label">{{experience.startDate | date: 'longDate'}} - <span *ngIf="experience.endDate">{{experience.endDate | date: 'longDate'}}</span><span *ngIf="!experience.endDate">Present</span></span>
                                        <span class="blue-text container-label">{{experience.companyName}}</span>
                                        <span class="container-label">{{experience.employmentType | employmentType}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="no-data" *ngIf="!profile.education">
                            No experience records.
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column dislinkt-container w-100 container-wrapper">
                    <svg *ngIf="isMyProfile" (click)="openUpdateEducationDialog()" class="edit-grey-icon"></svg>
                    <div class="d-flex flex-column">
                        <h5 class="lightpurple-text">Education</h5>
                        <div *ngIf="profile.education">
                            <div class="d-flex w-100 container-ex-ed" *ngFor="let education of profile.education">
                                <div class="d-flex flex-column align-items-center justify-content-center mt-2 me-3">
                                    <div class="dot"></div>
                                    <div class="h-100 line"></div>
                                </div>
                                <div class="d-flex flex-column w-100">
                                    <div class="d-flex flex-column grey-text" >
                                        <span class="container-label">{{education.school}}</span>
                                        <span class="blue-text container-label">{{education.degree}}</span>
                                        <span class="container-label">{{education.startDate | date: 'longDate'}} - <span *ngIf="education.endDate">{{education.endDate | date: 'longDate'}}</span><span *ngIf="!education.endDate">Present</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="no-data" *ngIf="!profile.education">
                            No education records.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>