<div *ngIf="profile">
    <div class="body-grey"></div>
    <div class="banner"></div>
    <div class="image-name-wrapper d-flex flex-column">
        <div class="d-flex w-100 align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <img class="profile-img" src="https://images.unsplash.com/photo-1531891437562-4301cf35b7e4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mzl8fHByb2ZpbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60">
                <h1>{{profile.firstName}} {{profile.lastName}}</h1>
            </div>
            <div (click)="openUpdateProfileDialog()" class="d-flex align-items-center justify-content-center round-circle">
                <svg class="edit-icon"></svg>
            </div>
        </div>
    </div>
    <div class="wrapper d-flex">
        <div class="d-flex dislinkt-container personal-info d-flex flex-column">
            <h5 class="lightpurple-text">Personal Info</h5>
            <span class="lightpurple-text container-label">Birthday</span>
            <span class="grey-text mb-2">{{profile.dateOfBirth | date: 'longDate'}}</span>
            <span class="lightpurple-text container-label">Bio</span>
            <span class="grey-text">{{profile.biography}}</span>
        </div>
        <div class="posts">

        </div>
        <div class="proffesional-info d-flex flex-column">
            <div class="d-flex flex-column dislinkt-container w-100 container-wrapper">
                <svg (click)="openUpdateSkillsDialog()" class="edit-grey-icon"></svg>
                <div class="d-flex flex-column">
                    <h5 class="lightpurple-text">Skills</h5>
                    <span class="grey-text container-label" *ngFor="let skill of profile.skills">{{skill}}</span>
                </div>
            </div>
            <div class="d-flex flex-column dislinkt-container w-100 container-wrapper">
                <svg (click)="openUpdateInterestsDialog()" class="edit-grey-icon"></svg>
                <div class="d-flex flex-column">
                    <h5 class="lightpurple-text">Interests</h5>
                    <span class="grey-text container-label" *ngFor="let interest of profile.interests">{{interest}}</span>
                </div>
            </div>
            <div class="d-flex flex-column dislinkt-container w-100 container-wrapper">
                <svg (click)="openUpdateExperienceDialog()" class="edit-grey-icon"></svg>
                <div class="d-flex flex-column">
                    <h5 class="lightpurple-text">Experiences</h5>
                    <div class="d-flex w-100 container-ex-ed" *ngFor="let experience of profile.experience">
                        <div class="d-flex flex-column align-items-center justify-content-center mt-2 me-3">
                            <div class="dot"></div>
                            <div class="h-100 line"></div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex flex-column grey-text" >
                                <span class="container-label">{{experience.title}}</span>
                                <span class="container-label">{{experience.startDate | date: 'longDate'}} - <span *ngIf="experience.endDate">{{experience.endDate | date: 'longDate'}}</span><span *ngIf="!experience.endDate">Present</span></span>
                                <span class="blue-text container-label">{{experience.companyName}}</span>
                                <span class="container-label">{{experience.employmentType | employmentType}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column dislinkt-container w-100 container-wrapper">
                <svg (click)="openUpdateEducationDialog()" class="edit-grey-icon"></svg>
                <div class="d-flex flex-column">
                    <h5 class="lightpurple-text">Education</h5>
                    <div class="d-flex w-100 container-ex-ed" *ngFor="let education of profile.education">
                        <div class="d-flex flex-column align-items-center justify-content-center mt-2 me-3">
                            <div class="dot"></div>
                            <div class="h-100 line"></div>
                        </div>
                        <div class="d-flex flex-column w-100">
                            <div class="d-flex flex-column grey-text" >
                                <span class="container-label">{{education.school}}</span>
                                <span class="blue-text container-label">{{education.degree}}</span>
                                <span class="container-label">{{education.startDate | date: 'longDate'}} - <span *ngIf="education.endDate">{{education.endDate | date: 'longDate'}}</span><span *ngIf="!education.endDate">Present</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>