@import "src/styles/main.scss";

.btn-primary{
    height: 38px;
    border: none;
    padding: 3px 30px;
    box-shadow: none;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: color(lightpurple);
    transition: 0.3s all ease-in-out;

    &:active{
        box-shadow: none !important;
        color: color(lightgrey);
    }

    &:hover{
        background-color: color(purple);
    }

}
