<div class="login-wrapper d-flex align-items-center justify-content-center">
    <div class="login-form-wrapper d-flex flex-column">
        <form class="d-flex flex-column align-items-center" [formGroup]="resetPasswordForm">
            <div class="form-fields d-flex flex-column w-100" formGroupName="passwords">
                <div class="d-flex flex-column w-100 mb-3" [ngClass]="{'text-danger' : (getPasswordsControl().password.touched && getPasswordsControl().password.errors?.['required'])}">
                    <label for="password" class="input-label">Password</label>
                    <input id="password" type="password" formControlName="password" name="password" required>
                    <span class="error-message" *ngIf="getPasswordsControl().password.touched && getPasswordsControl().password.errors?.['required']">Password cannot be empty.</span>
                </div>
                <div class="d-flex flex-column w-100 mb-3" [ngClass]="{'text-danger' : getPasswordsControl().confirmPassword.touched && (getPasswordsControl().confirmPassword.errors?.['required'] || resetPasswordForm.controls.passwords.errors?.noMatch)}">
                    <label for="confirm-password" class="input-label">Confirm password</label>
                    <input id="confirm-password" type="password" formControlName="confirmPassword" name="confirm-password" required>
                    <span class="error-message" *ngIf="getPasswordsControl().confirmPassword.touched && (getPasswordsControl().confirmPassword.errors?.['required'] || resetPasswordForm.controls.passwords.errors?.noMatch)">{{confirmPasswordErrorMessage()}}</span>
                </div>
            </div>
            <button [disabled]="!resetPasswordForm.valid" (click)="onSubmit()">Reset password</button>
        </form>
    </div>
</div>