<nav class="navbar navbar-light fixed-top">
    <div class="d-flex align-items-center">
        <svg class="dislinkt-logo"></svg>
        <h5 class="fw-bold brand">Dislinkt</h5>
        <app-search style="align-self: baseline;"></app-search>
    </div>
    <div class="nav-items d-flex flex-row align-items-center">
        <span class="nav-item" (click)="logout()">Logout</span>
    </div>
    <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
</nav>
<div class="overlay d-flex justify-content-end w-100" [ngClass]="{'hidden-overlay' : !dropdownMenuVisible}">
    <div class="d-flex justify-content-end w-0" [ngClass]="{'menu-container' : dropdownMenuVisible}">
        <div [hidden]="!dropdownMenuVisible" class="nav-items-menu align-items-end">
            <span class="nav-item-menu mt-2" (click)="logout()">Logout</span>
        </div>
    </div>
</div>