<div class="dislinkt-container d-flex flex-column">
    <div class="user-info d-flex align-items-center">
        <img class="post-profile-img" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" alt="Profile image">
        <h5>Melanija Racic</h5>
    </div>
    <span class="grey-text content">
        {{post.content}}
    </span>
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex">
            <span class="likes lightpurple-text pointer">
                {{post.likes}} likes
            </span>
            <span class="lightpurple-text pointer">
                {{post.dislikes}} dislikes
            </span>
        </div>
        <span class="lightpurple-text pointer">
            {{post.comments.length}} {{post.comments.length == 1 ? 'comment' : 'comments'}}
        </span>
    </div>
    <div class="grey-line"></div>
    <div class="d-flex align-items-center">
        <div (click)="likePost()" class="action-btn-wrapper">
            <svg class="thumbs-up-icon" [ngClass]="{'active': didUserLike()}"></svg>
            <span [ngClass]="didUserLike() ? 'purple-text' : 'black-text'">Like</span>
        </div>
        <div (click)="dislikePost()" class="action-btn-wrapper">
            <svg class="thumbs-down-icon" [ngClass]="{'active': didUserDislike()}"></svg>
            <span [ngClass]="didUserDislike() ? 'purple-text' : 'black-text'">Dislike</span>
        </div>
        <div (click)="toggleComment()" class="action-btn-wrapper">
            <svg class="comment-icon"></svg>
            <span class="black-text">Comment</span>
        </div>
    </div>
</div>
