<nav class="navbar navbar-light" *ngIf="isVisible">
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center" routerLink="['/feed']" style="cursor: pointer">
            <svg class="dislinkt-logo"></svg>
            <h5 class="fw-bold brand">Dislinkt</h5>
        </div>
        <pr-search-profiles-box class="search-wrapper" style="align-self: baseline;"></pr-search-profiles-box>
    </div>
    <div class="nav-items d-flex flex-row align-items-center">
        <span *ngIf="!authenticated" class="nav-item mr-40" (click)="redirectToLoginPage()">Sign in</span>
        <app-primary-button *ngIf="!authenticated" (click)="redirectToRegisterPage()" [text]="'Sign up'">
        </app-primary-button>
        <div class="nav-item-wrapper" *ngIf="authenticated" routerLink="/feed">
            <svg class="home-icon"></svg>
            <span class="nav-item ssmall">Feed</span>
        </div>
        <div class="nav-item-wrapper" *ngIf="authenticated" [routerLink]="['/profiles', userId]">
            <svg class="avatar-icon"></svg>
            <span class="nav-item ssmall">Profile</span>
        </div>
        <div class="nav-item-wrapper" *ngIf="authenticated" routerLink="/network">
            <svg class="follow-requests-icon"></svg>
            <span class="nav-item ssmall">Network</span>
        </div>
        <div class="nav-item-wrapper" *ngIf="authenticated" (click)="logout()">
            <svg class="exit-icon"></svg>
            <span class="nav-item ssmall">Logout</span>
        </div>
    </div>
    <svg class="navbar-menu" (click)="toggleDropdownMenu()"></svg>
</nav>
<div class="overlay d-flex justify-content-end w-100" [ngClass]="{'hidden-overlay' : !dropdownMenuVisible}">
    <div class="d-flex justify-content-end w-0" [ngClass]="{'menu-container' : dropdownMenuVisible}">
        <div [hidden]="!dropdownMenuVisible" class="nav-items-menu align-items-end">
            <span *ngIf="!authenticated" class="nav-item-menu mt-2" (click)="redirectToLoginPage()">Sign in</span>
            <span *ngIf="!authenticated" class="nav-item-menu" (click)="redirectToRegisterPage()">Sign up</span>
            <span *ngIf="authenticated" class="nav-item-menu mt-2" (click)="logout()">Logout</span>
        </div>
    </div>
</div>