<div class="d-flex flex-column align-items-center content">
    <h4 class="d-flex w-50 mb-3">Fill out the rest of your information</h4>
    <form class="d-flex flex-column w-50" [formGroup]="registrationForm" id="form">
        <div class="d-flex flex-row form-fields">
            <div class="input-container w-100" [ngClass]="{'input-container-error' : (registrationForm.controls.phoneNumber.touched && registrationForm.controls.phoneNumber.errors?.['required'])}">
                <input id="phone" type="text" name="phone" formControlName="phoneNumber" required>
                <label for="phone" class="input-label">Phone number</label>
                <span class="error-message" *ngIf="registrationForm.controls.phoneNumber.touched && registrationForm.controls.phoneNumber.errors?.['required']">Phone number cannot be empty.</span>
            </div>
        </div>
        <div class="d-flex flex-row form-fields">
            <div class="input-container w-100">
                <input id="dateOfBirth" type="button" name="dateOfBirth" ngbDatepicker #d1="ngbDatepicker"
                    formControlName="dateOfBirth" (click)="d1.toggle()" class="text-start">
                <label for="dateOfBirth" class="input-label">Date of birth</label>
            </div>
        </div>
        <div class="d-flex flex-row form-fields">
            <div class="input-container w-100">
                <label for="gender" class="input-label">Gender</label>
                <select id="gender" name='gender' formControlName="gender">
                    <option>MALE</option>
                    <option>FEMALE</option>
                </select>
            </div>
        </div>
        <div class="d-flex flex-row form-fields">
            <div class="input-container w-100">
                <label for="biography" class="input-label">Biography</label>
                <textarea id="biography" maxLength="376" formControlName="biography"></textarea>
            </div>
        </div>
        <div class="d-flex flex-row form-fields">
            <div class="input-container w-100">
                <label for="profileType" class="input-label">Profile type</label>
                <select id="profileType" name='profileType' formControlName="profileType">
                    <option>PRIVATE</option>
                    <option>PUBLIC</option>
                </select>
            </div>
        </div>
    </form>
    <app-primary-button text="Finish registration" class="w-50" [isBtnDisabled]="!registrationForm.valid" (click)="onSubmit()"></app-primary-button>
</div>
