@import "src/styles/main.scss";

.posts-wrapper, .upload-wrapper{
    width: 512px;

    @include media("<tablet"){
        width: 100%;
        padding: 80px $grid-margin-width 10px;
    }
}

.upload-wrapper{
    padding-top: 80px;
}

.posts-wrapper{
    margin-top: 10px;
}

    .post{
        margin-bottom: 10px;
    }
