<div class="login-wrapper d-flex align-items-center justify-content-center">
    <div class="login-form-wrapper d-flex flex-column">
        We will send you a reset password link to this mail:
        <form class="d-flex flex-column align-items-center" [formGroup]="forgotPasswordForm">
            <div class="d-flex flex-column w-100 mb-3" [ngClass]="{'text-danger' : (forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors)}">
                <input id="email" type="text" name="email" formControlName="email" placeholder="Email">
                <span class="error-message" *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors?.['required']">Email address cannot be empty.</span>
                <span class="error-message" *ngIf="forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors?.['email']">You must enter valid email address.</span>
            </div>
            <button [disabled]="!forgotPasswordForm.valid" (click)="onSubmit()">Send</button>
        </form>
    </div>
</div>