$colors: (
    purple: rgb(86, 3, 173),
    lightpurple: rgb(131, 103, 199),
    blue: rgb(0, 68, 149),
    black: rgb(44, 44, 44),
    darkgrey: rgb(162, 162, 162),
    lightgrey: rgb(242, 242, 242),
    red: rgb(237, 28, 36)
);

@function color($color-name) {
    @return map-get($colors, $color-name);
}